provider "cloudflare" {
  email = "{{ cloudflare_email | default(var.email) }}"
  token = "{{ cloudflare_access_token | default(var.access_token)}}"
}

resource "cloudflare_record" "this" {
{% if main_dns_record_create == "false" %}
  count = 0
{% endif %}
  domain = "{{ project_env_zone }}"
{% if project_deployment_environment == 'prod' or skip_env_domain_prefix == true %}
  name = "{{ domain_name }}"
{% else %}
  name = "{{ project_deployment_environment }}.{{ domain_name }}"
{% endif %}
{% if project_cloudfront_for_alb == true %}
  value  = "${aws_cloudfront_distribution.this.domain_name}"
{% endif %}
{% if project_cloudfront_for_s3 == true %}
   value = "${aws_cloudfront_distribution.website_cdn.domain_name}"
{% endif %}
  type   = "CNAME"
  ttl    = 300
}
{% if var.rds is defined %}
    {% set rds = var.rds %}
{% else %}
    {% set rds = {} %}
{% endif %}

{% if rds.get('cloudflare', False) == True %}
    {% include 'rds/cloudflare.tf.j2' %}
{% endif %}


{% if var.elasticache is defined %}
    {% set elasticache = var.elasticache %}
{% else %}
    {% set elasticache = {} %}
{% endif %}

{% if elasticache.get('cloudflare', False) == True %}
    {% include 'elasticache/cloudflare.tf.j2' %}
{% endif %}

resource "cloudflare_record" "cert_default" {
  domain = "{{ project_env_zone }}"
  name = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_name}"
  type = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_type}"
  value = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_value}"
  ttl = 300
}


# resource "cloudflare_record" "cert_alternative" {
#  domain = "{{ project_env_zone }}"
#  name = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_name}"
#  type = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_type}"
#  value = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_value}"
#  ttl = 300
#}

{% if aws_region != 'us-east-1' %}
resource "aws_acm_certificate" "us-east-1" {
  provider = "aws.us-east-1"
  domain_name = "{{ domain_name }}"
  subject_alternative_names = ["*.{{ project_name }}.{{ project_env_zone }}"]
  validation_method = "DNS"
}
{% endif %}

resource "aws_acm_certificate" "default" {
  domain_name = "{{ domain_name }}"
  subject_alternative_names = ["*.{{ project_name }}.{{ project_env_zone }}"]
  validation_method = "DNS"
}

resource "aws_acm_certificate_validation" "default" {
  certificate_arn = "${aws_acm_certificate.default.arn}"
  validation_record_fqdns = ["${cloudflare_record.cert_default.name}"]
}
