data "aws_iam_policy_document" "user" {
  statement {
    sid = "1"

    effect = "Allow"
    
    actions = [
      "cloudfront:ListDistributions",
      "cloudfront:CreateInvalidation"
    ]

    resources = [
      "*"
    ]
  }

  statement {
    sid = "2"

    effect = "Allow"

    actions = [
      "s3:GetBucketLocation",
      "s3:ListBucket"
    ]

    resources = [
      "arn:aws:s3:::{{ s3_bucket_name }}"
    ]
  }

  statement {
    sid = "3"

    effect = "Allow"

    actions = [
      "s3:GetObject",
      "s3:PutObject",
      "s3:PutObjectAcl"
    ]

    resources = [
      "arn:aws:s3:::{{ s3_bucket_name }}/*"
    ]
  }

  statement {
    sid = "4"

    effect = "Allow"

    actions = [
      sts:AssumeRole
    ]

    principals = [
      "Service": "lambda.amazonaws.com"
    ]
  }

}