resource "aws_s3_bucket" "{{name}}" {
  
  provider = "aws.{{ aws_region }}"
  bucket   = "{{ var.bucket_name }}"
  
  website {
    index_document = "index.html"
  }
  {% include "resource.tf.j2" %}
  {% include "resource.tf.j2" %}  
  policy  = <<EOF
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "PrivateListGetBucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "${aws_iam_user.deployer.arn}"
                ]
            },
            "Action": [
                "s3:GetBucketLocation",
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::{{ var.bucket_name }}"
            ]
        },
        {
            "Sid": "PrivateGetPutObject",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "${aws_iam_user.deployer.arn}"
                ]
            },
            "Action": [
                "s3:Get*",
                "s3:Put*",
                "s3:Delete*"
            ],
            "Resource": [
                "arn:aws:s3:::{{ var.bucket_name }}/*"
            ]
        }
    ]
}
EOF

}

{% include var.bucket_policy_path %}

resource "aws_iam_policy" "site_deployer_policy" {
  provider    = "aws.{{ aws_region }}"
  name        = "deployer.{{ organization_name }}.{{ project_type }}.{{ project_name }}.{{ project_deployment_environment }}"
  path        = "/"
  description = "Policy allowing to publish a new version of the website to the S3 bucket"
  policy      = "${data.aws_iam_policy_document.user.json}"
}

resource "aws_iam_policy_attachment" "site-deployer-attach-user-policy" {
  provider   = "aws.{{ aws_region }}"
  name       = "{{ var.bucket_name }}-deployer-policy"
  users      = ["${aws_iam_user.deployer.name}"]
  policy_arn = "${aws_iam_policy.site_deployer_policy.arn}"
}

resource "aws_iam_user" "deployer" {
  name = "deploy@{{ project_type }}.{{ project_name }}.{{ project_deployment_environment }}"
  path = "/"
}

resource "aws_iam_access_key" "deployer" {
  user = "${aws_iam_user.deployer.name}"
}