provider "cloudflare" {
  email = "{{ cloudflare_email }}"
  token = "{{ cloudflare_access_token }}"
}

resource "cloudflare_record" "this" {
{% if project_zone_main != "yes" %}
  count = 0
{% endif %}
  domain = "{{ route53_domain_name }}"
{% if project_deployment_environment == 'prod' %}
  name = "{{ project_name }}.{{ route53_domain_name }}"
{% else %}
  name = "{{ project_deployment_environment }}.{{ project_name }}.{{ route53_domain_name }}"
{% endif %}
  value  = "${aws_cloudfront_distribution.this.domain_name}"
  type   = "CNAME"
  ttl    = 300
}

resource "cloudflare_record" "rds" {
  domain = "{{ route53_domain_name }}"
{% if project_deployment_environment == 'prod' %}
  name = "rds.{{ project_name }}.{{ route53_domain_name }}"
{% else %}
  name = "rds.{{ project_deployment_environment }}.{{ project_name }}.{{ route53_domain_name }}"
{% endif %}

{% if project_zone_rds_cluster == 'true' %}
  value = "${aws_rds_cluster.default.endpoint}"
{% else %}
  value = "${aws_db_instance.default.address}"
{% endif %}

  type = "CNAME"
  ttl = 300
}

{% if project_zone_rds_cluster == 'true' %}
resource "cloudflare_record" "rds_reader" {
  domain = "{{ route53_domain_name }}"
{% if project_deployment_environment == 'prod' %}
  name = "reader.rds.{{ project_name }}.{{ route53_domain_name }}"
{% else %}
  name = "reader.rds.{{ project_deployment_environment }}.{{ project_name }}.{{ route53_domain_name }}"
{% endif %}

  value = "${aws_rds_cluster.default.reader_endpoint}"

  type = "CNAME"
  ttl = 300
}
{% endif %}

{% if project_ecc == 'true' %}
  {% include './templates/cloudflare_ecc.tf.j2' %}
{% endif %}

resource "cloudflare_record" "cert_default" {
  domain = "{{ route53_domain_name }}"
  name = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_name}"
  type = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_type}"
  value = "${aws_acm_certificate.default.domain_validation_options.0.resource_record_value}"
  ttl = 300
}


resource "cloudflare_record" "cert_alternative" {
  domain = "{{ route53_domain_name }}"
  name = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_name}"
  type = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_type}"
  value = "${aws_acm_certificate.default.domain_validation_options.1.resource_record_value}"
  ttl = 300
}

{% if aws_region != 'us-east-1' %}
resource "aws_acm_certificate" "us-east-1" {
  provider = "aws.us-east-1"
  domain_name = "{{ project_name }}.{{ route53_domain_name }}"
  subject_alternative_names = ["{{ project_deployment_environment }}.{{ project_name }}.{{ route53_domain_name }}"]
  validation_method = "DNS"
}
{% endif %}

resource "aws_acm_certificate" "default" {
  domain_name = "{{ project_name }}.{{ route53_domain_name }}"
  subject_alternative_names = ["{{ project_deployment_environment }}.{{ project_name }}.{{ route53_domain_name }}"]
  validation_method = "DNS"
}

resource "aws_acm_certificate_validation" "default" {
  certificate_arn = "${aws_acm_certificate.default.arn}"
  validation_record_fqdns = ["${cloudflare_record.cert_default.name}", "${cloudflare_record.cert_alternative.name}"]
}
