
resource "cloudflare_record" "rds" {
  domain = "{{ project_env_zone }}"
{% if project_deployment_environment == 'prod' %}
  name = "rds.{{ project_name }}.{{ project_env_zone }}"
{% else %}
  name = "rds.{{ project_deployment_environment }}.{{ project_name }}.{{ project_env_zone }}"
{% endif %}

{% if project_zone_rds_cluster == 'true' %}
  value = "${aws_rds_cluster.default.endpoint}"
{% else %}
  value = "${aws_db_instance.default.address}"
{% endif %}

  type = "CNAME"
  ttl = 300
}

{% if project_zone_rds_cluster == 'true' %}
resource "cloudflare_record" "rds_reader" {
  domain = "{{ project_env_zone }}"
{% if project_deployment_environment == 'prod' %}
  name = "reader.rds.{{ project_name }}.{{ project_env_zone }}"
{% else %}
  name = "reader.rds.{{ project_deployment_environment }}.{{ project_name }}.{{ project_env_zone }}"
{% endif %}

  value = "${aws_rds_cluster.default.reader_endpoint}"

  type = "CNAME"
  ttl = 300
}
{% endif %}
