provider "aws" {
    region = "{{ aws_region }}"
}

provider "aws" {
    region = "us-east-1"
    alias = "us-east-1"
}

##### ecs #####

data "aws_availability_zones" "available" {}

{% if aws_vpc_default == true %}
  resource "aws_default_vpc" "this" {
      tags {
          Name = "Default VPC"
      }
  }

  resource "aws_default_subnet" "a" {
    availability_zone = "{{ aws_region }}a"
  }

  resource "aws_default_subnet" "b" {
    availability_zone = "{{ aws_region }}b"
  }

  resource "aws_default_subnet" "c" {
    availability_zone = "{{ aws_region }}c"
  }
{% endif %}

{% if project_ecs == true %}
  {% include './templates/ecs.tf.j2' %}
  {% include './templates/ecs_sg.tf.j2' %}
{% endif %}

{% if project_ecs_sg_only == true %}
  {% include './templates/ecs_sg.tf.j2' %}
{% endif %}

##### rds ######

{% if project_rds == true %}
  {% include './templates/rds_main.tf.j2' %}
{% endif %}

##### alb #####

{% if project_alb == true %}
  {% include './templates/alb.tf.j2' %}
  {% include './templates/alb_sg.tf.j2' %}
{% endif %}

{% if project_alb_sg_only == true %}
  {% include './templates/alb_sg.tf.j2' %}
{% endif %}


##### iam #####

{% if project_iam == true %}
  {% include './templates/iam.tf.j2' %}
{% endif %}

##### dns #####

{% if project_zone_cloudflare == true %}
  {% include './templates/cloudflare.tf.j2' %}
{% endif %}

{% if project_zone_route53 == true %}
  {% include './templates/route53.tf.j2' %}
{% endif %}

##### cloudfront #####

{% if project_cloudfront_for_alb == true %}
  {% include './templates/cloudfront_for_alb.tf.j2' %}
{% endif %}

{% if project_cloudfront_for_s3 == true %}
  {% include './templates/cloudfront_for_s3.tf.j2' %}
{% endif %}

##### redis #####

{% if project_elasticache == true %}
  {% include './templates/elasticache.tf.j2' %}
{% endif %}

##### s3 ######

{% if project_s3 == true %}
  {% include './templates/s3.tf.j2' %}
{% endif %}
