provider "aws" {
    region = "{{ aws_region }}"
}

provider "aws" {
    region = "us-east-1"
    alias = "us-east-1"
}


{% if aws_vpc_default == 'true' %}
resource "aws_default_vpc" "this" {
    tags {
        Name = "Default VPC"
    }
}

resource "aws_default_subnet" "a" {
  availability_zone = "{{ aws_region }}a"
}

resource "aws_default_subnet" "b" {
  availability_zone = "{{ aws_region }}b"
}

resource "aws_default_subnet" "c" {
  availability_zone = "{{ aws_region }}c"
}
{% endif %}

##### ecs #####

{% include './templates/ecs.tf.j2' %}

##### db ######

{% include './templates/rds.tf.j2' %}

##### alb #####

{% include './templates/alb.tf.j2' %}

##### iam #####

{% include './templates/iam.tf.j2' %}

##### dns #####

{% if project_zone_cloudflare == 'true' %}
  {% include './templates/cloudflare.tf.j2' %}
{% else %}
  {% include './templates/route53.tf.j2' %}
{% endif %}

##### cloudfront #####

{% include './templates/cloudfront.tf.j2' %}

##### redis #####

{% if project_ecc == 'true' %}
  {% include './templates/ecc.tf.j2' %}
{% endif %}
