resource "aws_security_group" "rds_security_group" {
  name        = "tf-rds-sg-{{ organization_name }}-{{ project_type }}-{{ project_name }}-{{ project_deployment_environment }}"
  description = "Container Instance Allowed Ports"
{% if aws_vpc_default == true %}
  vpc_id = "${aws_default_vpc.this.id}"
{% else %}
  vpc_id = "{{ aws_vpc_id }}"
{% endif %}

  ingress {
    from_port = 3306
    to_port = 3306
    protocol = "tcp"
    security_groups = ["${aws_security_group.this.id}"]
  }

  egress {
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }

  tags {
    Name = "tf-rds-sg-{{ organization_name }}-{{ project_type }}-{{ project_name }}-{{ project_deployment_environment }}"
  }
}

resource "aws_db_instance" "default" {
  identifier = "tf-rds-{{ organization_name }}-{{ project_type }}-{{ project_name }}-{{ project_deployment_environment }}"
  engine               = "{{ db_engine }}"
  engine_version       = "{{ db_engine_version }}"
  instance_class       = "{{ db_instance_type }}"
  allocated_storage    = {{ db_allocated_storage_size }}
  storage_type         = "gp2"
  name                 = "{{ db_name }}"
  username             = "{{ db_username }}"
  password             = "{{ db_password }}"
  vpc_security_group_ids = ["${aws_security_group.rds_security_group.id}"]

  auto_minor_version_upgrade = "false"
  final_snapshot_identifier  = "tf-rds-{{ db_engine }}-{{ organization_name }}-{{ project_type }}-{{ project_name }}-{{ project_deployment_environment }}"
  copy_tags_to_snapshot      = "false"

{% if project_deployment_environment == 'prod' %}
  skip_final_snapshot = "false"
  backup_retention_period    = "14"
  backup_window              = "02:00-03:00"
  maintenance_window         = "wed:03:00-wed:04:00"
{% else %}
  skip_final_snapshot = "true"
{% endif %}

  tags {
    Name = "tf-rds-{{ organization_name }}-{{ project_type }}-{{ project_name }}-{{ project_deployment_environment }}"
  }
}
