resource "aws_route53_record" "rds" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
{% if project_deployment_environment == 'prod' %}
  name = "rds.{{ domain_url }}"
{% else %}
  name = "rds.{{ project_deployment_environment }}.{{ domain_url }}"
{% endif %}
  type = "CNAME"

  ttl = 300

{% if project_zone_rds_cluster == true %}
  records = ["${aws_rds_cluster.default.endpoint}"]
{% else %}
  records = ["${aws_db_instance.default.address}"]
{% endif %}

}

{% if project_zone_rds_cluster == true %}

resource "aws_route53_record" "rds_reader" {
  zone_id = "${data.aws_route53_zone.selected.zone_id}"
{% if project_deployment_environment == 'prod' %}
  name = "ro.rds.{{ domain_url }}"
{% else %}
  name = "ro.rds.{{ project_deployment_environment }}.{{ domain_url }}"
{% endif %}
  type = "CNAME"

  ttl = 300
  records = ["${aws_rds_cluster.default.reader_endpoint}"]
}
{% endif %}
