resource "aws_s3_bucket" "website_bucket" {

  provider = "aws.{{ aws_region }}"
  bucket   = "{{ s3_bucket_name }}"
  policy  = <<EOF
{{ s3_bucket_policy }}
EOF

}

resource "aws_iam_policy" "site_deployer_policy" {
  provider    = "aws.{{ aws_region }}"
  name        = "{{ s3_bucket_name }}.deployer"
  path        = "/"
  description = "Policy allowing to publish a new version of the website to the S3 bucket"
  policy      = <<EOF
{{ iam_user_policy }}
EOF
}

resource "aws_iam_policy_attachment" "site-deployer-attach-user-policy" {
  provider   = "aws.{{ aws_region }}"
  name       = "{{ s3_bucket_name }}-deployer-policy"
  users      = ["${aws_iam_user.deployer.name}"]
  policy_arn = "${aws_iam_policy.site_deployer_policy.arn}"
}

resource "aws_iam_user" "deployer" {
  name = "deploy@{{ project_name }}.{{ project_deployment_environment }}"
  path = "/"
}

resource "aws_iam_access_key" "deployer" {
  user = "${aws_iam_user.deployer.name}"
}
